<h1>Clientes</h1>
<%= link_to 'Cadastre-se', new_cliente_path %>
<table>
	<tr>
		<th>Nome</th>
		<th>CPF</th>
		<th>Email</th>
		<th>Endereco</th>
		<th>Data_de_Nascimento</th>
		<th colspan="3"></th>
	</tr>
	<% @clientes.each do |cliente|%>
		<tr>
		<td><%= cliente.Nome %></td>
		<td><%= cliente.CPF %></td>
		<td><%= cliente.Email %></td>
		<td><%= cliente.Endereco %></td>
		<td><%= cliente.Data_de_Nascimento %></td>
		<td><%= link_to 'Show', cliente_path(cliente) %></td>	
	    <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
	    <td><%= link_to 'Destroy', cliente_path(cliente),
              method: :delete,
              data: { confirm: 'Tem certeza?' } %></td>
		</tr>
	<%end%>
</table>
	<%= link_to 'Voltar à pagina anterior', controller: 'welcome' %>
